<!DOCTYPE html>
<html>
<head>
  <title>TableTennis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <script src="http://localhost:3001/bundle.js"></script>
</body>
</html>
